<div class="card">
  <div class="card-body">
  <h3 class="card-header">Users List</h3>
  <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">UID</th>
        <th scope="col">Email</th>
      </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users | async">
          <td>{{ user.index }}</td>
          <td>{{ user.displayName }}</td>
          <td>{{ user.id }}</td>
          <td>{{ user.email}}</td>
          <td>
            <button class="btn btn-sm btn-danger font-weight-bold gapbtn" (click)="auth.deleteUser(user.id)">Delete</button>
            <button class="btn btn-sm btn-primary font-weight-bold">Edit</button>
          </td>
        </tr>
</tbody>
</table>
  <br/>
  <button class="btn btn-sm btn-primary font-weight-bold gapbtn">Add User</button>
  <button class="btn btn-sm btn-info font-weight-bold" routerLink="/user/detail">Back</button>
</div>
</div>
